
:root{
   // COLORS
--grey-dark:#5d5d5d;
--grey-light: #999;  
--blue: #2998ff; 
--green:#05b693;
--white: #fff;
--black: #000; 

// FONT SIZE
--default-font-size: 1.6rem;
--small-font-size: 1.2rem;
--heading-primary:1.8rem;
--heading-secondry:2rem;
--heading-big:4rem;

// FONT WHIGHT
--bold-font:800;
--medium-font:700;
--regular-font:400;


// GRID
--grid-width: 114rem;
}